<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: head"></head>
  <body>
  
  <nav th:replace="layouts :: navbar"></nav>
  
	<div class="container">
	
		<form action="/projects/save" method="POST" th:object="${project}">
			<fieldset >
			  <legend>New Project</legend>
			  <hr class="mb-4" />
			  <div class="mb-3">
				<label class="form-label">Project Name</label>
				<input class="form-control" type="text" placeholder="Project Name" th:field="${project.name}" >
			  </div>
			  <div class="mb-3">
				<label class="form-label">Stage</label>
				<select class="form-control" th:field="${project.stage}">
					<option th:value="NOTSTARTED"> Not Started</option>
					<option th:value="INPROGRESS"> In Progress</option>
					<option th:value="COMPLETED"> Completed</option>
				</select>
			  </div>
			  <div class="mb-3">
				<label class="form-label">Description</label>
				<textarea class="form-control" placeholder="Enter Project Description" th:field="${project.description}"></textarea>
			  </div>
			  <div class="mb-3">
				<label class="form-label">Employees</label>
				<select class="form-control" th:field="*{employees}" multiple="multiple">
					<option
						th:each="employee : ${employeeList}" 
						th:value="${employee.employeeId}"
						th:text="${employee.firstName}"
						></option>
				</select>
			  </div>
			  <button type="submit" class="btn btn-primary">Create Project</button>
			</fieldset>
		</form>
	</div>
  </body>
</html>